<app-navbar></app-navbar>

<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">

        <div class="main-content animate__animated animate__fadeInUp">
            <div class="thumb-container">
                <img src="../assets/thumb.png" alt="Profile image" class="thumb-image">
            </div>
        </div>

        <div class="text-container">
            <p>HELLO!</p>
            <h1><b><I>I'm Kush Shrivastava</I></b></h1>
            <h1><b><I>Full Stack Software developer</I></b></h1>
            <p>Detail-Oriented and motivated Full Stack Software developer with Foundational experience in both front-end and 
              back-end technologies.Proficient in HTML,CSS,JavaScript,Angular Js ,Java,Python and SQL,with a strong understanding of responsive
              design and RESTful APIs.Eager to contribute to collaborative team enviroment and deliver innovative solutions.
              Committed to continuous learning and staying updated with industry trends and best practices</p>
        </div>
    </div>


<div>
    <div>
        <div id="skills-section" class="skills-section animate__animated animate__fadeInUp">
          <p style="font-size: 25px;color:#6b08a6 ;">My Skills</p>
        </div>
        <div class="card-container">
          <mat-card class="example-card animate__animated animate__fadeInUp">
            <mat-card-header class="row align-items-center">
              <p style="color:#6b08a6 ;">Angular</p>
      
            </mat-card-header>
            <img mat-card-image src="../assets/angular.png" alt="Image">
            <mat-card-content>
              <p>Helps developers build dynamic, single-page web applications.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>
      
          <mat-card class="example-card animate__animated animate__fadeInUp">
            <mat-card-header class="row align-items-center">
              <p style="color:#6b08a6 ;">ReactJS</p>
            </mat-card-header>
            <img mat-card-image src="../assets/react.png" alt="Image">
            <mat-card-content>
              <p>JS library for building user interfaces, particularly for SPA's.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>
      
          <mat-card class="example-card animate__animated animate__fadeInUp">
            <mat-card-header class="row align-items-center">
              <p style="color:#6b08a6 ;">Java</p>
            </mat-card-header>
            <img mat-card-image src="../assets/java.png" alt="Image">
            <mat-card-content>
              <p>Java is designed to be platform-independent.</p>
            </mat-card-content>
            <button>Know More..</button>
          </mat-card>
      
      
      
        </div>
      </div>
</div>

</div>


<app-footer></app-footer>